<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bojonegorotic.amrizalns.botic">

    <uses-permission android:name="android.permission.INTERNET"/>

    <permission
        android:name="com.bojonegorotic.amrizalns.botic.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.bojonegorotic.amrizalns.botic.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name="com.bojonegorotic.amrizalns.botic.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_botic"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_botic"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name="com.bojonegorotic.amrizalns.botic.activity.splashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.bojonegorotic.amrizalns.botic.activity.signIn"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bojonegorotic.amrizalns.botic.activity.signUp"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bojonegorotic.amrizalns.botic.activity.mainInterface"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name="com.bojonegorotic.amrizalns.botic.activity.booking_gedung"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bojonegorotic.amrizalns.botic.activity.booking_gedung_finish"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bojonegorotic.amrizalns.botic.activity.booking_kesenian"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bojonegorotic.amrizalns.botic.activity.popUp_sk_gedung"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bojonegorotic.amrizalns.botic.activity.detail_content"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bojonegorotic.amrizalns.botic.activity.directionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyB0dQH3hl7-eBtiHkxurMeilOW_uAjDQr0"/>


    </application>

</manifest>